<section [ngSwitch]="type">
  <div *ngSwitchCase="'main'" class="main">
    <div class="main-title">
      <h1 class="main-title_text">{{ title }}</h1>
    </div>
    <div class="main-body">
      <div class="main-body-top">
        <form class="main-body-top-form">
          <mat-form-field appearance="fill">
            <mat-label>Entre em um pool já existente</mat-label>
            <input
              type="search"
              matInput
              placeholder="01-AB-23-CD"
              [formControl]="poolIdFormController"
              [matAutocomplete]="auto"
            />
            <mat-error *ngIf="poolIdState.error">Pool não encontrado</mat-error>
            <p *ngIf="poolIdState.success">Pool encontrado, entrando...</p>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let poolId of filteredPoolIds | async"
              [value]="poolId"
            >
              {{ poolId }}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
      <div class="main-body-center">a</div>
      <div class="main-body-bottom">b</div>
    </div>
  </div>

  <div *ngSwitchCase="'card'" class="card">
    <p>Card</p>
  </div>
</section>
