.main {
  height: calc(100% - 10px);
  width: calc(100% - 10px);

  padding: 5px;

  &-header {
    height: 10vh;
    width: 100%;
  }

  &-body {
    height: calc(100% - 10vh);
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
  }
}
