<section class="main">
  <div class="main-header">
    <app-header
      [pollId]="pollId"
      (newPollEvent)="onNewPollEvent()"
      (leavePollEvent)="onLeavePollEvent()"
      [pollOptions]="pollOptions"
    ></app-header>
  </div>
  <div class="main-body">
    <app-cards
      *ngFor="let option of pollOptions"
      [type]="'card'"
      [title]="option.title"
      [color]="option.color"
      [icon]="option.icon"
      [selected]="option.selected"
      (selectEvent)="onSelectEvent($event)"
    ></app-cards>
  </div>
</section>
